* {
	padding:0;
	margin:0;
		background:url(raster.png) repeat;

}

body {
	color:#fff;
}

.wrapper {
	z-index: 6;
	position: fixed;
	color:#fff;

}

header, #header {
	padding-top: 100px;
}

header a, #header a {
	color:#fff;
	
}

.weatherwidget-io {
	margin-top: .2rem;
}