* { box-sizing: border-box; }

document {
  height: 100%;
}

body {
  /*margin-top: 10%;*/
  background: black;
  background-image:url('https://iledopolandrockfestival.pl/assets/background.jpg');
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #222;
  height: 100%;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  padding-bottom: 0;
  margin-bottom: 6px;
}

h1:last-of-type {
  #margin-top: 36px;
}

section > div {
  display: inline-block;
  color:white;
  margin: 0  4px;
  /*min-width: 250px;*/
}

section > div > div {
  background: white;
  color:black;
  padding: 8px;
  font-size: 13em;
  border-radius: 10px;
}

section {
  padding: 12px;
  border-radius: 12px;
  text-align: center;
}

ol {
  padding: 0;
  margin: 0;
  margin-top: 18px;
}

li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.weatherwidget-io {
  margin-top: .2rem;
}

.footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color:white;
}

.footer a, .footer a:active, .footer a:hover {
    color:white;
    text-decoration: none;

}
